eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9098/realms/nuvine

application:
  frontend-url: ${FRONTEND_URL}
  config:
    api-base-url: http://localhost:8222/api/v1
